<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" charset="UTF-8" content="text/html">
<meta name="viewport"
	content="width=device-width, initial-scale =1.0 minimum-scale =1.0">
<title>Edit User</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript"
	th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<link rel="stylesheet" th:href="@{/css/style.css}" />

</head>
<body>
	<div class="container-fluid">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container-fluid">
				<a class="navbar-brand" href="#"> <img
					th:src="@{/images/ShopitLogo.png}" alt="" width="100" height="100">
				</a>
				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item"><a class="nav-link active"
							aria-current="page" th:href="@{/users}">Users</a></li>
						<li class="nav-item"><a class="nav-link active"
							aria-current="page" th:href="@{/category}">Category</a></li>
						<li class="nav-item"><a class="nav-link active"
							aria-current="page" th:href="@{/brands}">Brands</a></li>
						<li class="nav-item"><a class="nav-link active"
							aria-current="page" th:href="@{/products}">Products</a></li>
						<li class="nav-item"><a class="nav-link active"
							aria-current="page" th:href="@{/customers}">Customers</a></li>
						<li class="nav-item"><a class="nav-link active"
							aria-current="page" th:href="@{/shipping}">Shipping</a></li>
						<li class="nav-item"><a class="nav-link active"
							aria-current="page" th:href="@{/orders}">Orders</a></li>
						<li class="nav-item"><a class="nav-link active"
							aria-current="page" th:href="@{/sales}">Sales Report</a></li>
						<li class="nav-item"><a class="nav-link active"
							aria-current="page" th:href="@{/menus}">Menus</a></li>
						<li class="nav-item"><a class="nav-link active"
							aria-current="page" th:href="@{/settings}">Settings</a></li>
					</ul>
					<form class="d-flex">
						<input class="form-control me-2" type="search"
							placeholder="Search" aria-label="Search">
						<button class="btn btn-outline-success" type="submit">Search</button>
					</form>
				</div>
			</div>
		</nav>
		<h2>Manage Users | Edit User</h2>
		<form th:action="@{/users/update}" method="post" th:object="${user}"
			style="max-width: 700px; margin: 0 auto">

			<!-- Email -->
			<div class="mb-3">
				<label for="email" class="form-label">Email address</label> <input
					type="email" class="form-control" id="email" th:field="*{email}"
					placeholder="name@example.com" required maxlength="128"
					>
			</div>

			<!-- First Name -->
			<div class="mb-3">
				<label for="firstName" class="form-label">First Name</label> <input
					type="text" class="form-control" id="firstName"
					th:field="*{firstName}" placeholder="John" required minlength="3"
					maxlength="45">
			</div>

			<!-- Last Name -->
			<div class="mb-3">
				<label for="lastName" class="form-label">Last Name</label> <input
					type="text" class="form-control" id="lastName"
					th:field="*{lastName}" placeholder="Doe" required minlength="1"
					maxlength="45">
			</div>

			<div class="mb-3">
				<label for="password" class="form-label">Password</label> <input
					type="password" class="form-control" id="password"
					th:field="*{password}"
					th:placeholder="${fieldDisabled} ? 'Leave blank to keep existing password' : 'At least 1 capital, 1 symbol'"
					th:attr="required=${bypassRequiredField}" maxlength="64">
			</div>


			<!-- Roles -->
			<div class="mb-3">
				<label class="form-label">Role</label>
				<div class="form-check">
					<th:block th:each="role:${listAllRoles}">
						<div class="mb-3">
							<!-- Added margin-bottom for spacing -->
							<input type="checkbox" th:field="*{roles}" th:value="${role.ID}"
								class="form-check-input"> <label
								th:for="${#ids.prev('roles')}" th:text="${role.name}"
								class="form-check-label"></label> <br>
							<!-- Line break between name and description -->
							<small class="text-muted" th:text="${role.description}"></small>
						</div>
					</th:block>
				</div>

				<!-- Enabled Checkbox -->
				<div class="form-check mb-3">
					<label class="form-check-label" for="enabledCheck">Enabled</label>
					<input class="form-check-input ms-2" type="checkbox"
						id="enabledCheck" name="enabled" th:checked="${user.enabled}">
				</div>

				<!-- Photo Upload -->
				<div class="mb-3">
					<label for="inputGroupFile02" class="form-label">Photo</label>
					<div class="input-group">
						<input type="file" class="form-control" id="inputGroupFile02"
							name="photo">
					</div>
				</div>
			</div>

			<!-- Submit Button -->
			<button type="submit" class="btn btn-success" id="SaveButton">Save</button>
			<button type="button" class="btn btn-danger" id="cancelButton">Cancel</button>
		</form>
		<!-- Modal -->
		<div id="modalData" th:data-message="${duplicateEmailmessage}"
			style="display: none;"></div>

		<div class="modal fade" id="messageModal" tabindex="-1"
			aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">

					<div class="modal-header">
						<h5 class="modal-title">Alert</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>

					<div class="modal-body">
						<p id="modalMessage">This is a placeholder message</p>
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-bs-dismiss="modal">OK</button>
					</div>

				</div>
			</div>
		</div>


		<div class=text-center>
			<p>Shopit Control panel - Copyright &copy; Shopit</p>
		</div>
	</div>

	<script type="text/javascript">
		$(document).ready(function() {
			$('#cancelButton').on("click", function() {
				window.location.href = "[[@{/users}]]";
			});
		});
	</script>
	<script>
		const message = document.getElementById("modalData").dataset.message;
		if (message) {
			document.getElementById("modalMessage").innerText = message;
			const myModal = new bootstrap.Modal(document
					.getElementById('messageModal'));
			myModal.show();
		}
	</script>

</body>
</html>